APP_NAME=Applied Python. Link Shortener
APP_BASE_URL=http://127.0.0.1:8000
DATABASE_URL=sqlite:///./study_shortener.sqlite3
REDIS_URL=redis://redis:6379/0
SECRET_KEY=zaglushka
ACCESS_TOKEN_EXPIRE_MINUTES=60
DEFAULT_SHORT_CODE_LENGTH=6
INACTIVE_LINK_DAYS=30
